<div class="lookbook-lowercontent">
<div class="lookbook-line"></div>

<h3 class="lookbook-title">{{ settings.look-book-collection-title }}</h3>

<div class="lookbook-desc">
  {{ settings.look-book-collection-desc }}
</div>
<div class="lookbook-ctas">
  <a href="{{ settings.look-book-left-cta-url }}">{{ settings.look-book-left-cta-text }}</a>
  <a href="{{ settings.look-book-right-cta-url }}">{{ settings.look-book-right-cta-text }}</a>
</div>

<div class="lookbook-video">
  {{ settings.look-book-video }}

  
</div>

<div class="lookbook-mailing-list">
  <h3>{{ settings.look-book-mailinglist-title }}</h3>
  <p>{{ settings.look-book-mailinglist-text }}</p>
  <form action="//seavees.us1.list-manage.com/subscribe/post?u=30ef7a3d4691eecaff7bb445a&amp;id=dd626cfafc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


<input type="text" name="FNAME" class="" id="mce-FNAME" value="First Name" >
<input type="text" value="Last Name" name="LNAME" class="" id="mce-LNAME">
<input type="text" value="Your Email" name="EMAIL" class="email" id="mce-EMAIL">

<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;"><input type="text" name="b_30ef7a3d4691eecaff7bb445a_dd626cfafc" tabindex="-1" value=""></div>
<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">


</form>

</div>
</div>  


