{% layout settings.customer_layout %}


<div id="my-account" class="container">
    
    <header role="main">
        <h1>My Account</h1>
    </header>

    <div class="page-container">
        <div class="row-fluid">
            <div class="span3 nav">
                <ul>
                {% include 'account_links' %}
                </ul>
            </div>
            <div class="span9">
                <div id="customer_orders">
                    <h2>Orders</h2>
                    {% if customer.orders.size != 0 %}
                    <table class="order-summary">
                        <thead>
                            <tr>
                                <th class="order_number">Order</th>
                                <th class="order-date">Date</th>
                                <th class="order-shipment-state">Fulfillment Status</th>
                                <th class="order-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in customer.orders %}
                            <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                                <td class="order_number">{{ order.name | link_to: order.customer_url }}</td>
                                <td class="order-date"><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
                                <td class="order-shipment-state"><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
                                <td class="order-total"><span class="total money">{{ order.total_price | money }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>You have no orders yet. <a href="{{ shop.url }}">Return to Store</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        

</div>


