<div class="container giveaway">
  <div class="row hero">
    <img class="span12" src="{{ 'giveaway-hero.jpg' | asset_url }}" alt="Marine Layer + SeaVees Giveaway">
  </div>
  <div class="row content">
    <div class="span6">
      <img class="head" src="{{ 'giveaway-head.png' | asset_url }}" alt="Enter Now! Marine Layer + SeaVees Giveaway">
      <div class="copy">
        {{ page.content }}
      </div>
      <div class="fineprint">
        <h2>The Not-So-Fine Print</h2>
        <p>{{ settings.giveaway-fineprint }}</p>
      </div>
      <img class="foot" src="{{ 'giveaway-image.jpg' | asset_url }}">
    </div>
    <div class="span6 rafflecopter">
      <a class="rcptr" href="http://www.rafflecopter.com/rafl/display/0a7a672b2/" rel="nofollow" data-raflid="0a7a672b2" data-theme="classic" data-template="" id="rcwidget_fu84wouu">a Rafflecopter giveaway</a>
<script src="//widget-prime.rafflecopter.com/launch.js"></script>
    </div>
  </div>
</div>
