{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<div id="main" role="main">
	<div class="container">
		<header role="main">
			<h1>{{ page.title }}</h1>
          {% include 'lookbook-top' %}
		</header>
		<div class="rte">
		  <div id="modmedia-lookbooks" class="single">
            <div id="lookbook-modmedia-container">
            </div><div class='lookbook-spe-content'>{{ page.content }}</div>{{ 'lookbooks-modmedia-styles.css' | asset_url | stylesheet_tag }}
{{ 'lookbooks-modmedia-scripts.js' | asset_url | script_tag }}
</div>
<script type="text/javascript">
    var modlookbook_money_with_currency_format = "{{ shop.money_with_currency_format }}";
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.src = "//shopifyexpert.com.au/lookbook/assets/templates/seavees-staging.myshopify.com/mod_media_lightbox_6e8e3{{page.id}}.js?t=1441195397";
    document.getElementsByTagName("head")[0].appendChild(s);
</script>
		</div>
      
       {% include 'lookbook' %}
	</div>
  
 
</div>