<div class="container giveaway2">
  <div class="row hero" style="display:none;">
    <img class="span12" src="{{ 'giveaway-hero.jpg' | asset_url }}" alt="Marine Layer + SeaVees Giveaway">
  </div>
  <div class="row content">
    <div class="span12">
      <img class="head" src="{{ 'giveaway-head.png' | asset_url }}" alt="Enter Now! Grayers + SeaVees Giveaway">
  
      <div class="copy">
        {{ page.content }}
      </div>
          
      <div id="sliderFrame">
        <div id="slider">
            <img src="https://cdn.shopify.com/s/files/1/0862/4628/t/2/assets/dev-slide-img1.jpg?1497321063847814117" alt="" />            
            <img src="https://cdn.shopify.com/s/files/1/0862/4628/t/2/assets/dev-slide-img2.jpg?10984577120112744962" alt="" />
            <img src="https://cdn.shopify.com/s/files/1/0862/4628/t/2/assets/dev-slide-img3.jpg?4481165578308798258" alt="" />
            <img src="https://cdn.shopify.com/s/files/1/0862/4628/t/2/assets/dev-slide-img4.jpg?12158609614096427666" alt="" />
            <img src="https://cdn.shopify.com/s/files/1/0862/4628/t/2/assets/dev-slide-img5.jpg?10193027817889365151" alt="" />
        </div>
        <div id="htmlcaption" style="display: none;">
            <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
        </div>
    </div>
	<div class="rafflecopter n-rafflecopter">
    	<a class="rcptr" href="http://www.rafflecopter.com/rafl/display/0a7a672b2/" rel="nofollow" data-raflid="0a7a672b2" data-theme="classic" data-template="" id="rcwidget_fu84wouu">a Rafflecopter giveaway</a>
		<script src="//widget-prime.rafflecopter.com/launch.js"></script>
    </div>
      <div style="clear:both"></div>
      <div class="fineprint">
        <h2>The Not-So-Fine Print</h2>
        <p>{{ settings.giveaway-fineprint }}</p>
      </div>
      <img class="foot" src="{{ 'giveaway-image.jpg' | asset_url }}" style="display:none;">
    </div>    
  </div>
</div>
